<div class="container-fluid">
    <div class="jumbotron">
        <h1>Encuentranos</h1>
        <p>
            Para realizar pedidos especiales puedes comunicarte con nosotros enviándonos un mail a 
            <button type="button" class="btn btn-primary">trytreats.ecgmail.com</button>
            o contactarnos por medio de instagram donde nos encuentras como @trytreats_ec. 
            Estaremos gustosos de atender tus pedidos y escuchar tus comentarios o sugerencias.
        </p>
    </div>
</div>
