<div class="container-fluid">
    <div class="jumbotron">
        <h1>Bienvenidos a Try Treats</h1>
        <p>Try treats es una tienda dedicada a la elaboración de dulces,
            basados en un concepto pop-up shop, ofrecemos nuestros productos de manera temporal,
            para ocasiones especiales y es así como llegamos a nuestros clientes.</p>
        <p>
            Aquí encontraras dulces creativos con un toque casero, elaborados con una selección especial de ingredientes,
            pero sobretodo están elaborados con amor y dedicación. 
            Si te encantan los dulces con un toque diferente, este es el sitio ideal para ti.	
            Comparte con nosotros la magia de probar y disfrutar de nuestros treats con las personas que amas, 
            seguro los disfrutaran también. Si lo hiciste ya, just try again!
        <p>
    </div>
</div>
